* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.container {
	background: #d9bbf9;
	color: white;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.header {
	width: 100vw;
	height: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	position: fixed;
	top: 5%;
}

input {
	width: 20rem;
	height: 2rem;
	padding: 1rem;
	outline: 1px solid purple;
	border: 1px solid violet;
}

.images {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 4rem;
	padding: 5rem;
	margin-top: 10vh;
}

a {
	height: 28rem;
	width: 24rem;
	background: violet;
	box-shadow: 0 0 0 8px violet, 0 0 0 16px purple;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.footer {
	display: flex;
	align-items: center;
	gap: 16rem;
}

.footer p {
	font-size: 4em;
	cursor: pointer;
}

.disable {
	opacity: 0.25;
}
